:root {
    --site-name: #797878;
}

@import url('https://fonts.googleapis.com/css?family=Merienda');

.fullBanner {
    width: 100vw;
    height: calc(100vh - 50px);
    box-sizing: border-box;
    background: url(./img/bgFullBanner.jpg) no-repeat center; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxSiteName {
    position: relative;   
    margin-bottom: 10rem;
}


.boxSiteName:before {
    content: "";
    display: block;    
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    left: -10px;
    border-top: 3px solid #FFF;
    border-left: 3px solid #FFF;
    border-radius: 5px;
}

.boxSiteName:after {
    content: "";
    display: block;    
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    right: -10px;
    border-top: 3px solid #FFF;
    border-right: 3px solid #FFF;
    border-radius: 5px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

 span:before {
    content: "";
    display: block;    
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -10px;
    left: -10px;
    border-bottom: 3px solid #FFF;
    border-left: 3px solid #FFF;
    border-radius: 5px;
}
span:after {
    content: "";
    display: block;    
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -10px;
    right: -10px;
    border-bottom: 3px solid #FFF;
    border-right: 3px solid #FFF;
    border-radius: 5px;
} 


.siteName {
    font-family: 'Merienda', cursive;
    font-size: 42px;
    line-height: 36px;
    margin: 0 auto;
    padding: 2rem 1.5rem;  
    color: var(--site-name);
}

.siteDescription {
    margin: 0 auto;
    padding: 0 1rem 1rem 1rem;
    color: var(--site-name);
}